.documentPayment {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1.2rem;
    flex: 1;

    .list {
        padding: 0 1.6rem;
        height: 100%;

        h2 {
            margin-bottom: 1.6rem;
        }

        .item {
            font-size: 1.6rem;
            cursor: pointer;
            padding: 0.8rem;
            border: 1px solid black;
            border-radius: 0.8rem;
            transition: 0.3s;

            &:hover,
            &.active {
                border-color: #2f6dfd;
                color: #ffffff;
                background-color: #2f5ffd7b;
            }
        }
    }

    .tabSide {
        min-width: 20rem;
        padding: 0 1.6rem;
        border-bottom: 1px solid black;
        display: flex;
        gap: 1.8rem;
        padding-bottom: 1.8rem;
        position: relative;

        span {
            display: inline-block;
            width: fit-content;
            font-size: 1.8rem;
            font-weight: 500;
            padding: 0.8rem 1.2rem;
            border-radius: 0.8rem;
            border: 1px solid #808080;
            cursor: pointer;
            transition: 0.2s;

            &.active,
            &:hover {
                border-color: #2f6dfd;
                color: #ffffff;
                background-color: #2f5ffd7b;
            }
        }

        .btnPrint {
            position: absolute;
            right: 0;
            padding: 1.2rem 1.8rem;
            border-radius: 0.4rem;
            background-color: transparent;
            border: 1px solid black;
            cursor: pointer;
        }
    }

    .contentDocument {
        flex: 1;
        margin: auto;
        border-left: 1px solid black;
        padding: 0.8rem;
    }

    .notiContract {
        padding-top: 1.8rem;
    }
}


.documentPayment {
    padding-top: 1.8rem;

    .document {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 70%;
        margin: auto;

        .headerNotiDoc {
            justify-content: space-between;

            h3,
            .slogan {
                text-align: center;
            }
        }

        .flex {
            display: flex !important;
        }

        .directionColumn {
            flex-direction: column;
            gap: 0.8rem;
        }

        .no {
            align-items: flex-end;
        }

        .content {
            margin-top: 1.6rem;

            h3 {
                text-align: center;
            }
        }

    }
}

.end {
    display: flex;
    margin-top: 1.8rem;
    justify-content: space-between;

    .signCompany {
        padding-right: 1.8rem;
    }
}

.tableView {
    * {
        background-color: transparent !important;
        border-color: black !important;
        border-radius: 0 !important;
    }

    th {
        font-weight: bold !important;
    }
}

.discount {
    margin-top: 1.2rem;
    display: flex;
    gap: 0.8rem;
    align-items: flex-end;

    label {
        font-size: 1.6rem;
    }
}

.payRequest {
    padding-top: 5.2rem;

    .logo {
        padding: 0 5.2rem;
        display: flex;
        justify-content: space-between;

        .companyInfo {

            h2 {
                font-size: 2.2rem;
                text-align: center;
            }

            .address {
                p {
                    text-align: right;
                    color: #e36c08;
                }
            }
        }
    }

    .notiPayrequest {
        position: relative;
        padding: 0.3rem 0;

        .backgroundColor {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #FDE9D8;
            z-index: -1;
        }

        .contentNoti {
            background-color: transparent;
            padding: 0 5.2rem;
        }
    }

    .date {
        text-align: right;
        margin-top: 0.8rem;
        padding-right: 5.2rem;
    }

    .contentDocPayment {
        padding: 0 5.2rem;

        ul {
            list-style-type: none;
            padding-left: 3.2rem;
            margin-top: 1.2rem;

            li {
                font-style: italic;

                &::before {
                    content: "-";
                    padding-right: 8px;
                }
            }
        }

        .tableView {
            margin-top: 1.2rem;
        }
    }

    .bank {
        padding: 0 !important;

        li {
            padding: 0;
            font-style: normal !important;

            &::before {
                content: "-";
                padding-right: 2px !important;
            }
        }
    }
}

.boundary {
    width: 100%;
    position: relative;
    padding: 0 5.2rem;

    .switch {
        position: absolute;
        top: -1.8rem
    }
}

.from {
    display: flex;
}