* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
  margin: auto;
  width: 100%;
}

.container {
  .paddingBase {
    padding: 0 3.2rem;
  }

  .logo {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .main {
    margin: auto;
  }
}


.text-center,
th.text-center {
  text-align: center !important;
}

.text-right,
th.text-right {
  text-align: right !important;
}

.error {
  color: red;
}