* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
  margin: auto;
  width: 100%;
}

.container {
  .paddingBase {
    padding: 0 3.2rem;
  }

  .logo {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .main {
    margin: auto;
  }
}


.text-center,
th.text-center {
  text-align: center !important;
}

.text-right,
th.text-right {
  text-align: right !important;
}

.text-left,
th.text-left {
  text-align: left !important;
}

.error {
  color: red;
}

.printPageBill {
  max-width: 100%;
  padding-top: 1.8rem;

  table {
    * {
      padding: 0.3rem !important;
    }
  }

  .document {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;

    .headerNotiDoc {
      justify-content: space-between;

      h3,
      .slogan {
        text-align: center;
      }

      b {
        text-decoration: underline;
      }
    }

    .flex {
      display: flex !important;
    }

    .directionColumn {
      flex-direction: column;
      gap: 0.8rem;
    }

    .no {
      align-items: flex-end;
    }

    .content {
      margin-top: 1.6rem;

      h3 {
        text-align: center;
      }
    }

  }
}